@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    font-family: 'Rampart One', cursive;
}
    
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('./images/background.jpg') bottom center;
    width: 100vw;
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: hidden;
    color: #000000;
    text-shadow: 0 0 4px gray;
    position: relative;
    top: 90px;
}
.header {
    height: 100px;
    width: 100%;
    background-color: #1f2937;
    color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-around; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    
}
.choices {
    display: flex;
    width: 80vw;
    justify-content: space-around;
    margin-top: 200px;
    position: absolute;
    z-index: 1;
}

.playerImgs,
.computerImgs {
    display: flex;
    width: auto;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 20px;
    border: solid black 2px;
    border-radius: 10px;
    max-height: 120px;
}
img {
    width: 120px;
    height: 120px;
}
.pImg:hover {
    cursor: pointer;
    width: 110px;
    height: 110px;
}
.active {
    width: 110px;
    height: 110px;
}

.winner {
    width: 100%;
}
.reset {
    display: none;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 60px;
    background-color: rgba(0, 255, 255, 0.507);
    color: black;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 5px;
}
.reset:hover {
    cursor: pointer;
}
.winnerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    height: 60px;
    width: 100%;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
}
.names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}